<div class="col s12 tag-div">
    <div class="user-pic center-align">
        <a href="{{site.github_profile}}" target="_blank">
            <img class="circle hoverable z-depth-1" src="/assets/img/user.png">
        </a>
    </div>
    <div class="user-intro center-align">
        <i>{{site.nick_name}}（{{site.english_name}}）</i>
    </div>
    <div class="user-intro center-align">
        <h4>一个<span class="typing-text hidden">战略，思维，深度,  引导, 创新</span>的polyad</h4>
    </div>
    <div class="user-content center-align">
        <p>
            群鸟在林，不如一鸟在手。
        </p>
        <p>
            波利亚，深度思考的指路人。
        </p>
    </div>
    <br>
</div>
